# Git
.git
.gitattributes
.gitignore

# Config
.editorconfig

# Docker resources
docker

# Docker For development
docker-compose.yml

# Visual Studio Code
.devcontainer
.vscode
.history
.ionide

# Ruby
.ruby-version
.bundle
.rubocop_todo.yml
.rubocop.yml
.solargraph.yml
spec
.rspec
vendor/bundle

bin
README.md
